{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}
Flasky - {{ title }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }} {{ user.user_name }}</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>用户</th><th>关注日期</th></tr></thead>
    {% for follow in follows %}
        <tr>
            <td>
                <a href="{{ url_for('main.user', user_name=follow.user.user_name) }}">
                    <img class="img-rounded" src="{{ follow.user.gravatar(size=32) }}">
                    {{ follow.user.user_name }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, user_name=user.user_name) }}
</div>
{% endblock %}