{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.user_name }}</h1>
        {% if user.user_real_name or user.user_location %}
            <p>
                {% if user.user_real_name %}{{ user_user_real_name }}{% endif %}
                {% if user.user_location %}
                    来自 <a href="http://maps.google.com/?q={{ user.user_location }}">{{ user.user_location }}</a>
                {% endif %}
            </p>
        {% endif %}
        {% if current_user.is_administrator %}
            <p><a href="mailto:{{ user.user_email }}">{{ user.user_email }}</a></p>
        {% endif %}
        {% if user.user_description %}
            <p>{{ user.user_description }}</p>
        {% endif %}
        <p>
            首次注册时间： {{ moment(user.register_date).format('L') }}，最后一次访问：{{ moment(user.last_access_date).fromNow() }}。
        </p>
        <p>
            {% if user == current_user %}
                <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">编辑资料</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', user_id=user.user_id) }}">编辑资料</a>
            {% endif %}
        </p>
    </div>
</div>
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.index') }}
</div>
{% endblock %}